<!DOCTYPE html>
<html lang="en">
  <%- include('./header.ejs') %>
  <body>
    <h1>Nothing Special</h1>
  </body>
  <script>
    const pro = prompt("who are u?");
    if (pro !== null) {
      alert("fuck off!!!");
      document.querySelector("h1").textContent = "what are you looking at?";
    }
  </script>
</html>
